
body {
    font-family: 'Montserrat';
}
.big-banner {
    background-image: url('../../img/header.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
}
.site-heading h1 {
    width: 20px;
    margin-top: 120px;
    color: #363636;
    line-height: 100px;
    font-weight: bold;
    font-size: 80px;
}
.heading-btn {
    background-color: #EF6A6A;
    border-radius: 0;
    margin-top: 30px;
    width: 200px;
    color: #FFFFFF;
}
.second-section {
    margin-top: 100px;
    margin-bottom: 140px;
}
.meet {
    width: 80%;
    margin: 0 auto;
}
.meet-btn {
    background-color: #EF6A6A;
    border-radius: 0;
    margin-top: 20px;
    width: 200px;
    color: #FFFFFF;
}
.meet-text {
    width: 300px;
}
.gallery-row {
    width: 80%;
    margin: 0 auto;
}
.gallery-img {
    width:420px ;
    height:300px ;
}
.gallery-image {
    width:420px ;
    height: 600px;
}
.services {
    width: 80%;
    margin: 0 auto;
}
.pink{
    width: 300px;
    border:1px solid #EF6A6A;
    box-sizing: border-box;
    height: 320px;
}
.pink img {
    height: 250px;
    top: 10%;
    left:18%;
}
.table-btn {
    background-color: #EF6A6A;
    border-radius: 0;
    width: 200px;
    color: #FFFFFF;
}
.service {
    font-family:'Montserrat' ;
    font-size:16px ;
    color: #4e4e4e;
    font-weight:500 ;
}
.service-image {
    width:380px ;
    height:280px ;
}
.mini {
    width: 80%;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.2);
}
.mini-image {
    width: 362px;
}
.testimonial {
    margin-top: 140px;
    color: #8A8A8A;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
}
.client {
    color:#363636;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}
.contact-form .form-field {
    position: relative;
    margin: 28px 0;
}
 .input-text {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size:18px;
    font-weight:400;
    background-color: transparent;
}
.submit-btn {
    border: 0;
    padding: 8px;
    width: 150px;
}
@media screen and ( max-width: 600px) {
    .meet {
        width: 250px;
        margin: 0 auto;
    }
    .meet-text {
        width: 240px;
    }
    .gallery-row {
        width: 83%;
        margin: 0 auto;
    }
    .gallery-img {
        width:100% ;
        height:180px ;
    }
    .gallery-image {
        width:100% ;
        height: 350px;
    }
    .pink{
        width: 230px;
        border:1px solid #EF6A6A;
        box-sizing: border-box;
        height: 280px;
    }
    .pink img {
        width: 220px;
        height: 210px;
        top: 12%;
        left:16%;
    }
    .services {
        width: 250px;
        margin: 0 auto;
    }
    .service-image {
        width: 250px;
    }
    .mini {
        width: 280px;
        margin: 0 auto;
    }
    .mini-image {
        width: 280px;
    }
}

@media screen and (min-width: 768px) and (max-width:800px) {
    .meet {
        width: 500px;
        margin: 0 auto;
    }
    .meet-text {
        width: 400px;
    }
    .gallery-row {
        width: 600px;
        margin: 0 auto;
    }
    .gallery-img {
        width:600px ;
        height:300px ;
    }
    .gallery-image {
        width:600px ;
        height: 600px;
    }
    .pink{
        width: 350px;
        border:1px solid #EF6A6A;
        box-sizing: border-box;
        height: 320px;
    }
    .pink img {
        width: 400px;
        height: 240px;
        top: 12%;
        left:22%;
    }
    .mini {
        width: 600px;
        margin: 0 auto;
    }
    .mini-image {
        width: 600px;
    }
    .services {
        width: 600px;
        margin: 0 auto;
    }
    .service-image {
        width: 550px;
    }
}                                                                    
@media screen and (min-width: 1024px) and (max-width:1366px) {
    .meet {
        width: 90%;
        margin: 0 auto;
    }
    .gallery-row {
        width: 90%;
        margin: 0 auto;
    }
    .gallery-img {
        width:400px ;
        height:300px ;
    }
    .gallery-image {
        width:400px ;
        height: 600px;
    }
}